<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hóa Đơn</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-light text-dark">
    <div class="container-fluid">
        <img class="logo_image" src="{{url_for('static',filename='/image/logo.png')}}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ url_for('home') }}">
                        {{ current_user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="/bills_staff">Danh sách hóa đơn</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-success" href="/staff_logout">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-success" href="/staff_login">Đăng nhập</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
{% if current_user.is_authenticated %}
<h1 class="text-center"> Danh sách hóa đơn </h1>
<p></p>
<div class="container">
    <form method="post" action="/bills_staff">
        <div class="form-group" style="display:flex">
            <input type="text" placeholder="Nhập mã Hóa Đơn" name="medicine_bill_id" class="form-control"/>
             <input class="btn btn-info"type="submit" value="Tìm"/>
        </div>

    </form>
</div>
<p></p>
<div class="table container">
    <table class="table">
        <tr>
            <th>Mã HĐ</th>
            <th>Họ tên</th>
            <th>Ngày khám</th>
            <th>Tiền khám</th>
            <th>Tiền thuốc</th>
            <th>Tổng cộng</th>
            <th>Trạng thái</th>
        </tr>
        {% for b in bills %}
        <tr class="bills">
            <td>{{ b.id}}</td>
            <td>{{ b.tenHD }}</td>
            <td>{{ b.ngayLapHD }}</td>
            <td>{{ "{:,.0f}".format(b.tienKham) }}</td>
            <td>{{ "{:,.0f}".format(b.tienThuoc) }}</td>
            <td>{{ "{:,.0f}".format(b.tienKham + b.tienThuoc) }}</td>
            {% if b.trangThai %}
            <td><p style="color: red;">Đã thanh toán</p></td>
            {% else %}
            <td>
                <input type="button" class="btn btn-info" value="Thanh toán" onclick="pay({{b.id}})">
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="container">
    <h1 class="text-center">Đăng nhập</h1>
    <form method="post" action="/staff_login">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" name="username" required id="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" name="password" required id="password" class="form-control"/>
        </div>
        <input type="submit" value="Đăng nhập" class="btn btn-success"/>
    </form>
</div>
{% endif %}
<script src="{{ url_for('static', filename='js/hoadon.js') }}"></script>
</body>
</html>
