<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
    <title>Phieu Kham</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-light text-dark">
    <div class="container-fluid">
        <img class="logo_image" src="{{url_for('static',filename='/image/logo.png')}}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ url_for('home') }}">
                        {{ current_user.username }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-success" href="/doctor-logout">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-success" href="/doctor-login">Đăng nhập</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 ">
        <div class="container">
            <h1 class="text-center">Lập phiếu khám</h1>
            {% if err_msg %}
            <h1 class="text-danger">Bị Lỗi: {{ err_msg}}</h1>
            {% endif %}
              {% if msg_success %}
            <h1 class="text-info">{{ msg_success }}</h1>
            {% endif %}
            <form method="post" action="/add-phieu-kham">
                <div class="form-group">
                    <label for="name">Họ tên</label>
                    <input type="text" name="name" required id="name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="ngaylap">Ngày khám</label>
                    <input type="date" name="ngaylap" required id="ngaylap" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="trieuChung">Triệu chứng</label>
                    <input type="text" name="trieuChung" required id="trieuChung" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="chanDoan">Dự đoán loại bệnh</label>
                    <input type="text" name="chanDoan" required id="chanDoan" class="form-control"/>
                </div>

                <table class="table" id="cartMedicine">
                    <tbody>
                    <tr class="row">
                        <td class="col-md-5">Thuốc</td>
                        <td class="col-md-2">Đơn vị</td>
                        <td class="col-md-3">Cách dùng</td>
                        <td class="col-md-2">Số lượng</td>
                    </tr>

                    <tr class="row">
                        <td class="col-md-5">
                            <select class="medicine form-control" onchange="addToCart(0)" >
                                <option value="0">Select</option>
                                {% for m in Thuoc %}
                                <option class="form-control" value="{{m.id}}" name="name" id="cart{{m.id}}">{{ m.name
                                    }}
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="unit col-md-2"></td>
                        <td class="col-md-3">
                            <div class="CachSD "></div>
                        </td>

                        <td class="col-md-2">
                            <div class="form-group">
                                <input class="form-control" type="number" value="1" name="quantity" min="1"
                                       onblur="updateQuantity(0, this)"
                                       style="width:100px"/>
                            </div>
                        </td>
                        <!--                <td>-->
                        <!--                    <input class="btn btn-danger" value="Xóa" type="button" onclick="deleteMedicineCart({{i}})"/>-->
                        <!--                </td>-->
                    </tr>
                    </tbody>
                </table>
                <input type="button" value="Them" class="btn btn-info" onclick="addMedicine()"/>
                <input type="submit" value="Lưu phiếu" class="btn btn-info" onclick="saveMedicalBill()"/>
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% else %}
<div class="container">
    <h1 class="text-center">Đăng nhập</h1>
    {% if err_msg %}
    <h4 class="alter alter-danger">Error: {{err_msg}}</h4>
    {% endif %}

    <form method="post" action="/doctor-login">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" name="username" required id="username" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" name="password" required id="password" class="form-control"/>
        </div>
        <input type="submit" value="Đăng nhập" class="btn btn-success"/>
    </form>
</div>
{% endif %}
</div>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
<script>
function addMedicine() {
    let tbody = document.getElementsByTagName('tbody')[0];
    let length = tbody.childElementCount - 1;
    let thuoc = ''
    {% for m in Thuoc %}
        thuoc += `<option class="form-control" value="{{m.id}}" name="name" id="cart{{m.id}}">{{ m.name
            }}
        </option>`
    {% endfor %}
    let html = ''
    html += `
    <body>
    <table><tr class="row">
            <td class="col-md-5">
                <select class="medicine form-control" onchange="addToCart(${length})" >
                    <option value="0">Select</option>
                    ${thuoc}
                </select>
            </td>
            <td class="unit col-md-2"></td>
            <td class="col-md-3">
                <div class="CachSD "></div>
            </td>

            <td class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="number" value="1" name="quantity" min="1"
                           onblur="updateQuantity(${length}, this)"
                           style="width:100px"/>
                </div>
            </td>
        </tr>
        </table></body>`
    let parser = new DOMParser().parseFromString(html, "text/html").body.firstElementChild;
    parser = parser.firstElementChild.firstElementChild
    tbody.append(parser)
}

</script>
</body>
</html>


